# JWT Secret
JWT_SECRET=

# Admin Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=

# MongoDB
MONGODB_URI=

# Cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

# Gemini API Key (from Google AI Studio)
GEMINI_API_KEY=
